[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"

[dev-packages]
molecule = {extras = ["docker"], version = "*"}
ansible-lint = "*"
yamllint = "*"

[requires]
python_version = "3.9"
