[Unit]
Description=Jetbrains Projector - {{ item.name }} - {{ item.config | default(item.name.split(' ')[0]) }}

[Service]
Type=simple
ExecStart={{ ansible_env.HOME }}/.projector/configs/{{ item.config | default(item.name.split(' ')[0]) }}/run.sh
User={{ ansible_user_id }}
Group={{ ansible_user_id }}
Restart=always

[Install]
WantedBy=default.target
